.App {
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: xx-large;
  justify-content: center;
  background-color: #425;
  background-image: linear-gradient(to top, #425, #357)
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: repeat(6, 75px);
  gap: 0;
  grid-template-areas:
    "display display display display"
    "clear divide multiply subtract"
    "seven eight nine add"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";
  justify-content: center;
  align-items: center;
  outline: 2px solid #000;
  background: #000;
}

.display { 
  display: grid;
  grid-area: display;
  width: 300px; 
  height: 75px;
  background-color: #222;
  color: #ddd;
  outline: 1px solid #111;
  outline-offset: -1px;
  border: none;
  justify-content: right;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: xxx-large;
  user-select: none;
}

.button {
  display: grid;
  width: 75px;
  height: 75px;
  outline-offset: -1px;
  outline: 1px solid #111;
  border: none;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.wide {
  width: 150px;
}

.tall {
  height: 150px;

}

.number {
  background-color: #666;
}

.function {
  background-color: #962;
}

.ac {
  background-color: #522;
  color: #ddd;
}

.clicked {
  background-color: #111;
  color: #ddd;
}

div[name="1"] { grid-area: one; }
div[name="2"] { grid-area: two; }
div[name="3"] { grid-area: three; }
div[name="4"] { grid-area: four; }
div[name="5"] { grid-area: five; }
div[name="6"] { grid-area: six; }
div[name="7"] { grid-area: seven; }
div[name="8"] { grid-area: eight; }
div[name="9"] { grid-area: nine; }
div[name="0"] { grid-area: zero; }
div[name="."] { grid-area: decimal; }
div[name="Escape"] { grid-area: clear; }
div[name="+"] { grid-area: add; }
div[name="-"] { grid-area: subtract; }
div[name="*"] { grid-area: multiply; }
div[name="/"] { grid-area: divide; }
div[name="Enter"] { grid-area: equals; }